@using TaskManagementApp.Common
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

@{
    bool IsUserSignedIn = User.Identity!.IsAuthenticated;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @AppInfo.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TaskManagementApp.styles.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)

</head>
<body>
    

    @if (!IsUserSignedIn)
    {

        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@AppInfo.Title</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>
    }

    <div class="d-flex flex-grow-1">
        @if (IsUserSignedIn)
        {
            @await Html.PartialAsync("_SideBar")
        }
        <div id="mainContent" class="flex-grow-1 d-flex flex-column " style="@(IsUserSignedIn ?"margin-left: 280px; ":"")">
            <main role="main" class="p-3 flex-grow-1">
                @RenderBody()
            </main>
            

            <footer class="border-top  text-muted px-3" style="line-height:60px">
                &copy; 2025 - @AppInfo.Title - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </footer>

        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
